.users {
    padding: 0.5rem;
}

.userInner {
    margin-bottom: 5px;
    background-color: white;
    display: grid;
    grid-template-areas: "img name loc";
    grid-template-columns: 1fr 5fr 1fr;
}

.userInfo {
    grid-area: name;
}

.loc {
    margin-left: 35rem;
    grid-area: loc;
}

.leftInfo {
    position: relative;
    grid-area: img;
}

.btnFollow {
    width: 57px;
    border-radius: 7px;
    position: absolute;
    top: 79px;
    left: 55px;
}
