.users {
    padding: 0.5rem;
}

.photo {
    width: 122px;
    height: 100px;
}

.userInner {
    margin-bottom: 5px;
    background-color: white;
    display: grid;
    grid-template-areas: "img name loc";
    grid-template-columns: 1fr 5fr 1fr;
}

.userInfo {
    grid-area: name;
}

.loc {
    margin-left: 35rem;
    grid-area: loc;
}

.leftInfo {
    position: relative;
    grid-area: img;
}

.btnFollow {
    width: 57px;
    position: absolute;
    top: 79px;
    left: 45px;
}
