.myPosts {
    margin-top: 5rem;
    h2 {
        font-size: 1.8rem;
        margin-bottom: 0.7rem;
    }
    .form {
        textarea {
            resize: none;
            padding: 7px 14px;
            border: 2px solid #ccc;
        }

        button {
            position: relative;
            top: 6px;
            left: 1rem;
            width: 70px;
            height: 35px;
            border-radius: 7px;
        }
        input {
            margin-right: 35rem;
        }
    }
}