.header {
    background-color: white;
    height: 65px;
}

.header_inner {
    display: flex;
    justify-content: space-between;
}

.header_logo_title {
    position: relative;
    top: 10px;
    margin-left: 3rem;
    font-size: 2.1rem;
    font-weight: 400;
}

.log {
    position: relative;
    top: 10px;
    font-size: 1.4rem;
    color: black;
}

.log button {
    position: relative;
    top: -2px;
    width: 55px;
    height: 30px;
    margin-left: 1rem;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.log button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}
