.header {
    background-color: white;
    height: 65px;
}

.headerInner {
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    position: relative;
    top: 10px;
    margin-left: 3rem;
    font-size: 2.1rem;
    font-weight: 400;
}

.headerLeft {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
}

.log {
    font-size: 1.4rem;
    font-weight: bold;
}

.btnLogout {
    color: black;
    width: 55px;
    height: 30px;
}


