.header {
    background-color: white;
    height: 65px;
}

.headerInner {
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    position: relative;
    top: 10px;
    margin-left: 3rem;
    font-size: 2.1rem;
    font-weight: 600;
}

.headerLeft {
    display: flex;
    align-items: center;
    position: relative;
    top: 10px;
    .signOutIcon {
        margin-left: 5px;
    }
}

.log {
    font-size: 1.4rem;
    font-weight: bold;
}

.btnLogout {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    margin-left: 0.5rem;
    align-items: center;
    padding-left: 5px;
    font-size: 1rem;
    color: black;
    width: 77px;
    height: 30px;
}


