.navBar_inner {
    padding: 5px;
    background-color: #f1f1f1;
    width: 180px;
    text-align: center;
}

.navBar_menu {
    font-size: 1.3rem;
}

ul li + li {
    margin-top: 1rem;
}

ul li a.active {
   font-weight: bold
}

ul li:last-child {
    margin-top: 3rem;
}
