.profileInner {
    margin: 5px 5px 0 5px;
    background: white;
    display: flex;
    height: 215px;
    border-radius: 5px;
}

.profileAvatar {
    padding: 3px;
}

.profileName {
    font-size: 1.9rem;
}

.profileInfo {
    margin-left: 1rem;
    font-size: 1rem;
    .profileData {
        border-top: 1px solid #c9c9c9;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        padding-top: 10px;
        width: 400px;
        span + span {
            margin-top: 3px;
        }
        p {
            padding: 4px 0 0 5px;
        }
        .contacts {
            svg {
                margin-left: 5px;
            }
        }
    }
}
.status {
    color: #4755cc;
    cursor: pointer;
}
.btn {
    margin: 0.5rem 0 0.5rem 0.35rem;
    button {
        width: 200px;
        height: 25px;
        border-radius: 7px;
    }
}

.editIcon {
    margin-left: 0.4rem;
}

.form {
    margin-top: 10px;
    div + div {
        margin-top: 10px;
    }
    div {
        display: flex;
        flex-direction: column;
    }
    button {
        position: relative;
        top: 45px;
        left: 295px;
        width: 70px;
        height: 25px;
        border-radius: 7px;
    }
}

.modal {
    max-height: 600px !important;
    overflow: scroll
}

.modalEditPhoto{
    button {
        position: relative;
        top: 45px;
    }
}