.profile_top_img {
    width: 100%;
    opacity: 70%;
}

.profile_inner {
    position: relative;
    background: content-box radial-gradient(crimson, skyblue);
    top: -74px;
    left: 0px;
    display: flex;
    height: 80px;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.profile_avatar {
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.profile_name {
    font-size: 1.6rem;
}

.profileInfo {
    margin-left: 1rem;
    font-size: 1rem;
}

.profile_description {

}