.profileInner {
    margin: 5px 5px 5rem 5px;
    background: white;
    display: flex;
    height: 215px;
    border-radius: 5px;
}

.profileAvatar {
    padding: 3px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.profileName {
    font-size: 1.9rem;
}

.profileInfo {
    margin-left: 1rem;
    font-size: 1rem;
}
.status {
    color: #4755cc;
    cursor: pointer;
}