.profile_inner {
    padding: 5px;
    background: white;
    display: flex;
    height: 215px;
    margin-bottom: 3rem;
    border-radius: 5px;
}

.profile_avatar {
    padding: 3px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.profile_name {
    font-size: 1.8rem;
}

.profileInfo {
    margin-left: 1rem;
    font-size: 1rem;
}

.profile_description {

}