*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: lightskyblue;
}

.header_inner {
  position: relative;
}

.header_logo {
  width: 100px;
}

.header_logo-title {
  position: absolute;
  display: inline-block;
  margin-left: 3rem;
  font-size: 1.3rem;
  font-weight: 400;
  top: 19px;
  left: 65px;
}

.navBar_inner {
  background-color:lightslategrey;
  width: 180px;
  text-align: center;
  padding-bottom: 270px;
}

.navBar-menu {
  font-size: 1.5rem;
}

ul li + li {
  margin-top: 1rem;
}

ul li:last-child {
  margin-top: 3rem;
}