.wrapper {
    padding: 5px;
    display: flex;
    height: 32rem;
}

.dialogs {
    background-color: white;
    width: 12rem;
}

.dialogs_item a {
    color: black;
}

.dialog {
    margin-top: 0.75rem;
    margin-left: 1rem;
}

.dialog::before {
    position: relative;
    top: 7px;
    left: -4px;
    display: inline-block;
    content: '';
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid black;
}

.messages {
    position: relative;
    width: 800px;
    background-color: white;
    margin-left: 5px;
}

.message {
    margin: 0.75rem;
}

.message_input {
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.form {
    display: flex;
}

.form button {
    width: 70px;
    margin-left: 1rem;
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.form button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}